{% extends 'layout.html' %}
{% block content %}

{% include '_messages.html' %}

<div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{{ url_for('admin') }}">Admin</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('brands') }}">Brands</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('category') }}">Category</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown link
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
</div>

<div class="container mt-3">
<table class="table table-sm table-condensed table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">S.No</th>
      <th scope="col">Name</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
  {% if brands %}
  {% for brand in brands %}
    <tr>
      <th scope="row">{{loop.index}}</th>
      <td>{{brand.name}}</td>
      <td><a href="{{ url_for('updatebrand', id = brand.id)}}" class = "btn btn-sm btn-outline-info" >Edit</a></td>
       <td><a href="" class = "btn btn-sm btn-outline-danger">Delete</a></td>
    </tr>
  {% endfor%}
  {% else %}
    {% for catgory in categories %}
    <tr>
      <th scope="row">{{loop.index}}</th>
      <td>{{catgory.name}}</td>
      <td><a href="{{ url_for('updatecategory', id = catgory.id)}}" class = "btn btn-sm btn-outline-info" >Edit</a></td>
       <td><a href="" class = "btn btn-sm btn-outline-danger">Delete</a></td>
    </tr>
  {% endfor%}

  {% endif %}
  </tbody>
</table>
</div>

{% endblock content %}